* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf

*.cs text eol=lf diff=csharp
*.asmdef text eol=lf
*.asmref text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.inputactions text eol=lf

*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.mat text eol=lf
*.anim text eol=lf
*.controller text eol=lf
*.overrideController text eol=lf
*.physicMaterial text eol=lf
*.physicsMaterial2D text eol=lf
*.renderTexture text eol=lf
*.shader text eol=lf
*.shadergraph text eol=lf
*.compute text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tga binary
*.psd binary
*.fbx binary
*.blend binary
*.wav binary
*.mp3 binary
*.ogg binary
*.mp4 binary
*.mov binary
*.docx binary
*.pptx binary
*.xlsx binary
*.pdf binary
